
body {
  min-height: 100vh;
}

a {
  color: #1157ed;
}

.btn {
  font-size: 14px;
  border-radius: 8px;
}

.cursor-default {
  cursor: default !important;
}

.btn-primary {
  background: #1157ed;
  border-color: #1157ed;
}

.container {
    max-width: 100% !important;
}

/* .body-row { */
/*   column-count: 2; */
/* } */
